<li id="neomicropost-<%= neomicropost.id %>">
    <%= link_to gravatar_for(neomicropost.user, size: 50), neomicropost.user %>
    <span class="user"><%= link_to neomicropost.user.name, neomicropost.user %></span>
    <span class="content"><%= neomicropost.content %></span>
    <span class="timestamp">
        Posted <%= time_ago_in_words(neomicropost.created_at) %> ago.
        <% if current_user == neomicropost.user %>
            <%= link_to "delete", neomicropost, method: :delete, data: { confirm: "You sure" } %>
        <% end %> 
    </span>
</li>